<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SubastaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SubastaWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex align-items-center justify-content-start">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Subasta</a>

                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Alimento</a>
                        <a class="dropdown-item" href="#">Ropa</a>
                        <a class="dropdown-item" href="#">Electronica</a>
                    </div>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <a class="btn btn-outline-success" asp-controller="UsuarioModelDBO" asp-action="Mi Perfil">Mi Perfil</a>
                </div>
                <div>
                    <form asp-controller="UsuarioModelDBO" asp-action="Salir" method="post">
                        <button type="submit" class="btn btn-outline-danger">Cerrar Sesión</button>
                    </form>
                </div>
            }
            else
            {
                <div>
                    <a class="btn btn-outline-success" asp-controller="UsuarioModelDBO" asp-action="Create">Registrarse</a>
                </div>
                <div>
                    <a class="btn btn-outline-success" asp-controller="UsuarioModelDBO" asp-action="Ingresar">Ingresar</a>
                </div>
            }

            <div class="mx-sm-auto">
                <div class="d-none d-md-inline">
                    <form class="form-inline" id="search-form">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/carousel.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
